@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

:root {
    --orange-100: #D87D4A;
    --orange-200: #fbaf85;
    
    --black-300: #191919;
    --black-200: #101010;
    --black-100: #000000;

    --white-100: #ffffffff; 
    --white-200: #f1f1f1;
    --white-300: #fafafafa;

    --gray-100: #4c4c4c;
    --red-wrong: #CD2C2C;

    --fs-900: 56px;
    --fs-800: 40px;
    --fs-700: 32px;
    --fs-600: 28px;
    --fs-500: 24px;
    --fs-400: 18px;
    --fs-300: 15px;
    --fs-200: 14px;
    --fs-100: 13px;
    
    --lh-500: 19px;
    --lh-400: 15px;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

[class*="__content"] {    
    max-width: 1110px;
    margin: 0 auto;
}

/* Header global */
.header__container {
    background-color: var(--black-300);
    color: var(--white-100);
}

.header__content {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 0.2px solid var(--white-100);
}

.header__list {
    padding-block: 2.3rem;

    display: flex;
    align-items: center;
    gap: 2.1rem;

}

.list__item--link {
    font-family: 'Manrope', sans-serif;
    font-size: var(--fs-100);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white-100);
}

.list__item--link:hover {
    color: var(--orange-100);
}

.header__icon--cart {
    cursor: pointer;
}

/* buttons */

.button__box {
    width: 10rem;
    padding-block: 1rem;
    border: transparent;
    font-size: var(--fs-100);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}